html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.error-body {
  background-color: #a6b9c7;
  color: white;
}

.fixed-center {
  text-align: center;
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
}
